<h1>Hi <%= current_user.username %></h1>

<div id="cUserDashBoard">
  <div class="username">
    <h3><%= label_tag :username %></h3>
    <%= current_user.username %>
  </div>

  <div class="email">
    <h3><%= label_tag :email %></h3>
    <%= current_user.email %>
  </div>

  <div class="age">
    <h3><%= label_tag :age %></h3>
    <%= current_user.age %>
  </div>

  <div class="gender">
    <h3><%= label_tag :gender %></h3>
    <%= current_user.gender %>
  </div>

  <div class="feet">
    <h3><%= label_tag :feet %></h3>
    <%= current_user.foot_height %>
    <h3><%= label_tag :inches %></h3>
    <%= current_user.inches_height %>
  </div>

  <div class="gender">
    <h3><%= label_tag :weight_in_lbs %></h3>
    <%= current_user.weight %><br /><br />
  </div>
</div>

