<%= form_for(@exercise) do |f| %>
<%= debug @exercise %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :sets %><br />
    <%= f.number_field :sets %>
  </div>
  <div class="field">
    <%= f.label :reps_or_min %><br />
    <%= f.number_field :reps_or_min %>
  </div>
  <div class="actions">
    <%= f.hidden_field :plan_id, :value => @plan.id %>
    <%= f.submit %>
  </div>
<% end %>